/* colors: #272a31-dark, #ec5242 - orange, #d3d3d3 - lightgrey */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.mobile-nav {
  padding: 15px;
  font-size: 1.5em;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 55px 15px;
  color: #4e4e50;
  background: url(./images/background.png) no-repeat;
  background-size: cover;
}

.page-title,
.page-title span {
  font-size: 3.3rem;
  font-weight: 900;
  line-height: 1.1em;
  color: #ec5242;
  display: flex;
  flex-direction: column;
}

.moto {
  order: -1;
  color: #ec5242;
}

.intro {
  padding: 20px;
  line-height: 1.5rem;
  color: #4e4e50;
  border: 3px solid #fff;
  background-color: #f3f0f0;
  margin: 25px 0;
}

.date {
  font-size: 2.5rem;
  font-weight: 900;
  color: #4e4e50;
  margin: 10px 0;
}

/* MAIN SECTION */
.main {
  background: url(./images/bg_dark_2.png);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.main h2 {
  margin: 25px auto 5px;
  padding: 15px 0;
  color: #fff;
  align-self: center;
}

.red-underline,
.silver-underline {
  border-bottom: 2px solid #ec5242;
  width: 45px;
  align-self: center;
}

.silver-underline {
  border-color: #d3d3d3;
  align-self: flex-start;
  width: 25px;
  margin: 15px 0;
}

.programs {
  margin: 15px auto;
}

.programs li {
  background-color: rgba(167, 167, 167, 0.171);
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  margin: 15px 0;
}

.program-icon {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
}

.program-icon i {
  color: #fff;
}

.programs h3 {
  color: #ec5242;
  padding: 0 5px;
}

.programs p {
  color: #fff;
}

.btn {
  background: #ec5242;
  color: #fff;
  width: 80%;
  margin: 30px auto;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  text-align: center;
}
